body {
	background-color:#a8d8ea;
}

hr {
  border-style:none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #7952b3;
}

h2 {
  color: #2d4059;
}

